@charset "utf-8";
@import url('reset.css');

:root {
    --header-height: 80px;
    --grid-margin: 100px;
    --grid-margin-t: 20px;
    --grid-margin-m: 16px;
    --primary-color01: #222834;
    --primary-color02: #353F54;
    --secondary-color: #37B6E9;
    --point-color: #4E4AF2;
    --font-main: 'Pretendard';
    --font-eng: 'Poppins';
    --font-number: 'Inter';
    --transition-custom: all 0.4s ease-in-out;
    --transition-custom2: all 0.8s ease-in-out;
}

.container {
    position: relative;
    width: calc(100vw - 200px);
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    height: 100%;
    min-width: 320px;
    overflow: hidden;
}

section.section {
    position: relative;
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
}

/* Line Break & Visibility Utility */
.pc-br {
    display: block;
}

.t-br,
.m-br,
.no-pc-section {
    display: none;
}