@charset "utf-8";

/* ====================
   SECTION 01 - MAIN VISUAL
==================== */
section.main-visual {
    overflow: hidden;
}

.main-visual-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-visual-container .swiper-slide {
    overflow: hidden;
}

.main-visual-con>div>.slide-inner>.main-visual-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1.08, 1.08);
}

.main-visual-img.main-visual-img-01 {
    background: url(/images/bg01.png) no-repeat center / cover;
}

.main-visual-img.main-visual-img-02 {
    background: url(/images/bg02.png) no-repeat center / cover;
}

.main-visual-img.main-visual-img-03 {
    background: url(/images/bg03.png) no-repeat center / cover;
}

.swiper-slide-active .main-visual-img {
    animation: image-zoom-out 6s 0s forwards;
}

@keyframes image-zoom-out {
    from {
        transform: scale(1.08, 1.08)
    }

    to {
        transform: scale(1.0, 1.0)
    }
}

.main-visual-container .slide-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.main-visual-txt-inner {
    margin-left: 100px;
}

.main-visual-txt-con {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.main-visual-txt-box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-visual-txt-box .main-visual-txt1,
.main-visual-txt-box .main-visual-txt2 {
    opacity: 0;
}

.main-visual-txt-box .main-visual-txt1 {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #fff;
    margin-bottom: 1rem;
    position: relative;
}

.main-visual-txt-box .main-visual-txt1::after {
    position: absolute;
    top: 0;
    bottom: -10px;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 0%;
    white-space: pre;
    content: attr(data-text);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px hsla(0, 0%, 100%, 0.7);
    will-change: width;
    animation: grow1 6s cubic-bezier(0.86, 0, 0.07, 1) 0s infinite alternate;
}

.main-visual-txt-box .main-visual-txt1>span {
    display: inline-block;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
}

.main-visual-txt-box .main-visual-txt1>span::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 0%;
    white-space: pre;
    content: attr(data-text);
    -webkit-text-stroke: rgba(255, 255, 255, 0);
    will-change: width;
    animation: grow2 6s cubic-bezier(0.86, 0, 0.07, 1) 0s infinite alternate;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85) 0%, rgba(254, 254, 254, 0.65) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes grow1 {

    0%,
    10% {
        width: 0%;
    }

    30%,
    75% {
        width: 100%;
    }

    95%,
    100% {
        width: 0%;
    }
}

@keyframes grow2 {

    0%,
    30% {
        width: 0%;
    }

    50%,
    55% {
        width: 100%;
    }

    75%,
    100% {
        width: 0%;
    }
}

.main-visual-txt-box .main-visual-txt2 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.055em;
    color: #fff;
    margin-bottom: 10px;
}

.swiper-slide-active .main-visual-txt1,
.swiper-slide-active .main-visual-txt2 {
    animation: text-active-animation 1.5s cubic-bezier(0.4, 0, 0.2, 1) both;
    animation-play-state: running;
}

.swiper-slide-active .main-visual-txt1.paused,
.swiper-slide-active .main-visual-txt2.paused,
.main-visual-txt-box .main-visual-txt1.paused::after,
.main-visual-txt-box .main-visual-txt1.paused>span::after {
    animation-play-state: paused !important;
}

.swiper-slide-active .main-visual-txt1 {
    animation-delay: 0.1s;
}

.swiper-slide-active .main-visual-txt2 {
    animation-delay: 0.1s;
}

.control-buttons {
    position: relative;
    z-index: 2;
}

.control-buttons button {
    width: 80px;
    height: 80px;
    cursor: pointer;
    position: absolute;
    left: 95px;
    bottom: 128px;
}

.control-buttons .start-btn {
    background: url(/images/play.png) no-repeat center / contain;
}

.control-buttons .pause-btn {
    background: url(/images/pause.png) no-repeat center / contain;
}

@keyframes text-active-animation {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1.0;
        transform: translateY(0);
    }
}

@keyframes text-active-animation02 {
    from {
        opacity: 0;
        transform: translateY(80px);
    }

    to {
        opacity: 1.0;
        transform: translateY(0);
    }
}

.main-visual-swiper .swiper-pagination {
    position: absolute;
    padding: 0 3rem;
    bottom: 10rem;
    left: 150px;
    right: 0;
    margin: auto;
    display: flex;
    gap: .8rem;
    max-width: 150rem;
    width: 100%;
    z-index: 3;
    text-indent: -1000000em;
    font-size: 0;
}

.main-visual-swiper .main-visual-pagination button.swiper-pagination-bullet {
    position: relative;
    width: 5px;
    height: auto;
    background: none;
    padding-bottom: 16px;
    margin-left: 10px;
    opacity: 1;
    border-radius: 0;
}

.main-visual-swiper .main-visual-pagination button:first-child {
    margin-left: 0;
}

.main-visual-swiper .main-visual-pagination button:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
}

.main-visual-swiper .main-visual-pagination .progress-bar {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: #fff;
}

.main-visual-swiper .main-visual-pagination button.swiper-pagination-bullet-active {
    width: 60px;
}

.main-visual-swiper .main-visual-pagination button.swiper-pagination-bullet-active:before {
    background: rgba(255, 255, 255, 0.2);
}

.main-visual-swiper .swiper-pagination .duration {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.50);
}

.main-visual-swiper .swiper-pagination .bar {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #fff;
}

.main-visual-swiper .swiper-pagination .bullet-title {
    margin-top: 18px;
    font-size: 0.875rem;
    font-weight: 300;
    text-align: left;
    color: rgba(255, 255, 255, 0.50);
}

.main-visual-swiper .swiper-pagination .swiper-pagination-bullet-active .bullet-title {
    color: #fff;
}

/* ====================
   SECTION 02 - MAIN BUSINESS
==================== */
.main-business {
    background-color: var(--primary-color01);
}

.main-business .main-title {
    position: relative;
    text-align: center;
}

.main-business .main-title:before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: url(/images/section02.png) no-repeat center / contain;
}

.main-business .main-title>h4 {
    padding-top: 8.75rem;
    position: relative;
    z-index: 2;
}

.main-title>h4 {
    font-size: 3.125rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.main-business .main-title>p {
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
}

.main-business-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
}

.main-business-list>div {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    transition: all 0.8s ease;
}

.main-business-list>.list-item::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    background: var(--primary-color02);
    transition: all 0.8s ease;
}

.main-business .list-item>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: #fff;
    font-weight: 300;
    padding: 3rem 0;
    width: 100%;
    pointer-events: none;
}

.main-business .list-item .txt-box {
    margin-bottom: 2rem;
}

.list-item .txt-box>p {
    color: #fff;
}

.list-item .txt-box>p:first-child {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.list-item .txt-box>p:nth-child(2) {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.list-item .txt-box>p:nth-child(2)>span {
    font-family: var(--font-number);
    font-size: 5rem;
    font-weight: 700;
}

.list-item .txt-box>p:last-child {
    font-size: 1rem;
    font-weight: 300;
}

.main-business .list-item .txt-box>p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.list-item .img-box {
    position: relative;
    width: 100%;
}

.list-item .img-box>.img {
    position: relative;
    width: 100%;
    height: 20rem;
    margin: auto;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    pointer-events: auto;
}

.list-item .img-box>.img>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    height: 20rem;
}

@media (hover:hover) {
    .list-item .img-box:hover>.img {
        width: 20rem;
        border-radius: 50%;
    }
}

.list-item .img-box .icon {
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 50%;
    bottom: -70px;
    transform: translate(-50%, -50%);
    background: url(../images/plus.png) no-repeat center/ contain;
    z-index: 2;
}

/* ====================
   SECTION 03 - MAIN INFORMATION
==================== */
.main-information {
    background: url(../images/section03.png) no-repeat center/ 100% 100%;
}

.fullpage-inner-scroll {
    overflow-y: scroll;
    max-height: 100vh;
}

.fullpage-inner-scroll::-webkit-scrollbar {
    display: none;
}

.fullpage-inner-scroll-con {
    position: relative;
}

.main-information .main-title p:first-of-type {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.main-information .main-title p:last-of-type {
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
}

.area-box {
    padding: 0 var(--grid-margin);
}

.main-information .main-title {
    position: absolute;
    width: 33%;
    top: 30vh;
    left: 0;
    transition: all 0.8s ease;
    will-change: top;
    transform: translateY(10rem);
}

.main-system-wrap {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

.main-scroll-fixed {
    width: 100%;
}

.main-system-list-scroll {
    width: 57%;
}

.main-system-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 8.75rem 0 20rem;
}

.main-system-list .list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    height: 35rem;
    padding: 4rem 2.5rem;
    margin-bottom: 6rem;
    transition: all 0.8s ease;
    background: linear-gradient(246deg, rgba(34, 40, 52, 0.35) 0%, rgba(34, 40, 52, 0.78) 49.65%, rgba(34, 40, 52, 0.35) 100%);
    backdrop-filter: blur(11.5px);
}

.main-system-list .list-item::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-system-list .list-item:nth-child(odd) {
    transform: translateY(14rem);
}

.main-system-list .icon {
    position: relative;
    width: 4.8rem;
}

.main-system-list .icon svg {
    width: 100%;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: svg_ani 2.5s linear;
    animation-delay: 1s;
}

.main-system-list .icon svg * {
    stroke: #fff;
    fill: transparent;
}

@keyframes svg_ani {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

/* ====================
   SECTION 04 - MAIN SUCCESS
==================== */
.main-success {
    background-color: var(--primary-color02);
}

.fullpage-inner-scroll-bottom {
    overflow-y: scroll;
    max-height: 100vh;
}

.fullpage-inner-scroll-bottom::-webkit-scrollbar {
    display: none;
}

.fullpage-inner-scroll-con-bottom {
    position: relative;
    height: 100% !important;
}

.main-success .main-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding-top: 8.75rem;
}

.main-success .main-title>span {
    color: var(--secondary-color);
}

.listbox {
    margin: 0 var(--grid-margin);
    position: relative;
}

.listbox .swiper-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    transform: translateX(0);
    transition: all 2s 0.8s;
}

.listbox.subOn .swiper-container {
    transform: translateX(0);
    opacity: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition: margin 1.2s;
}

.swiper-slide-prev {
    opacity: 0;
}

.swiper-slide-next {
    z-index: 3;
}

.swiper-slide-next+div {
    z-index: 2;
}

.swiper-slide .box {
    padding: 100px 0 100px;
    perspective: 400px;
}

.swiper-slide .sbox {
    width: 320px;
    height: 410px;
    padding: 30px;
    position: relative;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.15);
    transform: rotateY(-20deg) translate(0, 0);
    transition: 0.7s;
    background: #fff;
}

.swiper-slide .sbox:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
    background: #fff;
    z-index: -1;
}

.swiper-slide .sbox:after {
    content: "";
    display: block;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    position: absolute;
    top: 4px;
    left: 4px;
    transition: 1s;
}

.main-slider .swiper-slide.swiper-slide-active {
    margin-right: -300px !important;
    z-index: 4;
}

.swiper-slide.swiper-slide-active .sbox {
    transform: rotateY(0deg) translate(0, 0);
}

.swiper-slide.swiper-slide-active .sbox:after {
    background: #fff;
}

.swiper-slide.swiper-slide-active .sbox:before {
    opacity: 1;
    border: 4px solid var(--secondary-color);
}

.swiper-slide .icon {
    position: relative;
    width: 260px;
    height: 50px;
    z-index: 4;
    display: flex;
    align-items: center;
}

.swiper-slide .icon>img {
    width: 100%;
    height: auto;
}

.system-name {
    position: relative;
    z-index: 5;
    margin: 24px 0 16px;
}

.system-name>p {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.24px;
}

.box>.icon {
    width: auto;
    height: 50px;
}

.icon>img {
    width: 100%;
    height: 100%;
}

.system-detail {
    font-size: 1rem;
    font-weight: 300;
    margin-left: 18px;
    position: relative;
    z-index: 5;
}

.system-detail ul>li {
    position: relative;
}

.system-detail ul>li::before {
    content: "";
    position: absolute;
    top: 10px;
    margin-left: -10px;
    width: 2px;
    height: 2px;
    background-color: #000;
}

.keyword {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 4;
}

.keyword ul {
    display: flex;
    gap: 12px;
}

.keyword ul>li {
    padding: 4px 20px;
    border: 1px solid #6B7180;
    font-size: 0.75rem;
    font-weight: 300;
    color: #474B55;
}

/* ====================
   SWIPER / UI OVERRIDES
==================== */
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none;
    line-height: 1;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.main-success .pause-btn {
    display: none;
}

.listbox .swiper-pagination-s {
    width: 800px;
    height: 3px;
    background: rgba(255, 255, 255, 0.50);
    position: absolute;
    left: 230px;
    bottom: 98px;
}

.listbox .swiper-pagination-s .swiper-pagination-progressbar-fill {
    background: #fff;
}

.control-box {
    display: flex;
    gap: 24px;
    position: absolute;
    bottom: 220px;
    left: 100px;
    z-index: 3;
}

.control-box .swiper-btn {
    transition: all 0.3s;
    width: 80px;
    height: 80px;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: none;
    background: url(/images/arrow-left.png) no-repeat center / contain;
}

.control-box .swiper-btn.swiper-button-next-s {
    background: url(/images/arrow-right.png) no-repeat center / contain;
}