<div class="footer-inner">
    <address class="item">서울특별시 영등포구 선유로 233 누리빌딩 3층<br class="m-br" /> Tel : 02 2057 8453 / Fax : 02 2057 8460
    </address>
    <div class="mail item">
        <div>
            <img src="/images/icon-mail.png" alt="메일">
            <p>채용 문의 : recruit@wrsoft.co.kr</p>
        </div>
        <div>
            <img src="/images/icon-mail.png" alt="메일">
            <p>비지니스 문의 : layman@wrsoft.co.kr</p>
        </div>
    </div>
    <div class="copyright item">
        <p class="slogan">Solid Roots, Smart Future.<br class="m-br" /> <span class="slogan-ko">탄탄한 기술의 뿌리, 스마트한 내일의
                금융</span></p>
        <p>COPYRIGHT ⓒ 2025 WOORISO. ALL RIGHTS RESERVED</p>
    </div>
</div>