<div class="header-inner">
    <div class="logo">
        <h1><a href="/index.html"><img src="/images/logo.png" alt="logo"></a></h1>
    </div>
    <div class="header-slogan">
        <p class="slogan-en">Solid Roots, Smart Future</p>
    </div>
</div>

<!-- Gnb -->
<div class="gnb-navigation-wrapper">
    <div class="container">
        <ul class="site-map">
            <li>
                <a href="#">Company</a>
                <ul class="gnb-2dep">
                    <li><a href="/sub/company.html"><span>우리소프트</span></a></li>
                    <li><a href="/sub/history.html"><span>연혁</span></a></li>
                    <li><a href="/sub/certification.html"><span>인증 및 수상</span></a></li>
                    <li><a href="/sub/location.html"><span>오시는길</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#">Business</a>
                <ul class="gnb-2dep">
                    <li><a href="/sub/business.html"><span>주요사업</span></a></li>
                    <li><a href="/sub/solution.html"><span>솔루션</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#">Reference</a>
                <ul class="gnb-2dep">
                    <li><a href="/sub/client.html "><span>주요고객사</span></a></li>
                    <li><a href="/sub/partner.html "><span>파트너사</span></a></li>
                    <li><a href="/sub/reference.html"><span>수행사업</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#">Recruit</a>
                <ul class="gnb-2dep">
                    <li><a href="/sub/welfare.html"><span>복리후생</span></a></li>
                    <li><a href="/sub/recruit.html"><span>채용안내</span></a></li>
                </ul>
            </li>

            <div class="gnb-mail">
                <div>
                    <img src="/images/icon-mail.png" alt="메일">
                    <p>채용 문의 : recruit@wrsoft.co.kr</p>
                </div>
                <div>
                    <img src="/images/icon-mail.png" alt="메일">
                    <p>비지니스 문의 : layman@wrsoft.co.kr</p>
                </div>
            </div>
        </ul>
    </div>
</div>

<div class="header-links">
    <a href="http://wrsoft8453.cafe24.com/" target="_blank">쉼표</a>
    <a href="http://gw.wrsoft.co.kr/" target="_blank">그룹웨어</a>
</div>

<div id="nav-btn" class="nav-btn">
    <span></span>
    <span></span>
</div>