@charset "utf-8";
@import url('../reset.css');
@import url('../style.css');

/* ====================
   COMMON SUB-PAGE STYLES
==================== */

main section.sub-01 {
    width: 100%;
    height: 100vh;
}

main section .screen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
}

.visual-img-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.visual-img-icon .sub-img {
    width: 100%;
    height: 100%;
    background: url(/images/sub-bg.png) no-repeat center / cover;
    transform: scale(1.08, 1.08);
    animation: image-zoom-out 6s 0s forwards;
}

.sub-title {
    color: #fff;
    position: absolute;
    bottom: 172px;
    left: 100px;
}

.sub-title>* {
    transform: translateY(30px);
    transition: all 0.8s ease-in-out;
    transition-property: transform, opacity;
}

.sub-title>p {
    font-size: 2rem;
    font-weight: 400;
    transition-delay: 0.2s;
}

.sub-title>h2 {
    font-family: var(--font-eng);
    font-weight: 500;
    transition-delay: 0.5s;
    margin-top: 12px;
}

/* sub-gnb */
.sub-gnb {
    width: 100%;
    height: 72px;
    z-index: 3;
    position: absolute;
    bottom: 0;
}

.sub-gnb-inner {
    width: 100%;
    height: 72px;
    border-top: 2px solid #9499A5;
    background: transparent;
    transition: all 0.4s ease-in-out;
}

.sub-gnb-inner ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.sub-gnb-inner ul>li {
    width: 25%;
}

.sub-gnb-inner li>a:hover,
.sub-gnb-inner li.on>a {
    color: #fff;
}

.sub-gnb-inner li>a:hover:before,
.sub-gnb-inner li.on>a:before {
    width: 100%;
    margin-left: -50%;
}

.sub-gnb-inner li>a:before {
    content: "";
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    top: -2px;
    left: 50%;
    transition: all 0.4s ease-in-out;
}

.sub-gnb-inner li>a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 72px;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #9499A5;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.main-title {
    padding: 6.25rem 0;
}

.main-title>p {
    font-size: 3.125rem;
    font-weight: 500;
    color: #000;
    text-align: center;
}

.main-title span {
    color: var(--secondary-color);
}

br.pc-br {
    display: block;
}

br.t-br,
br.m-br {
    display: none;
}

/* ====================
   CERTIFICATION SPECIFIC STYLES
==================== */

.certification .sub-02 {
    padding-bottom: 9.375rem;
}

.certification-content>ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 20px;
}

.certification-content>ul>li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certification-content .certification-imgbox {
    width: 100%;
    height: 583px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eff0f2;
    margin-bottom: 20px;
}

.certification-content .certification-imgbox img {
    width: 220px;
    height: auto;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: 0.6s;
}

.certification-content .certification-imgbox:hover {
    border: 6px solid var(--secondary-color);
}

.certification-content .certification-imgbox:hover img {
    box-shadow: none;
    transform: scale(1.5);
}

.certification-content>ul>li>p {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 300;
}

/* ====================
   TABLET VERSION
==================== */
@media (min-width:769px) and (max-width:1024px) {
    .container {
        width: calc(100vw - 40px);
    }

    .main-title {
        padding: 6.25rem 0 5rem 0;
    }

    .main-title>p {
        font-size: 2rem;
    }

    .sub-title {
        left: 20px;
    }

    .sub-title>h2 {
        font-size: 3.75rem;
    }

    br.t-br {
        display: block;
    }

    br.pc-br,
    br.m-br {
        display: none;
    }

    .visual-img-icon .sub-img {
        background-image: url(/images/sub-bg-t.png);
    }

    /* certification */
    .certification-content>ul {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
        column-gap: 16px;
    }

    .certification-content>ul>li>p {
        font-size: 1.25rem;
    }

    .certification-content .certification-imgbox img {
        width: 300px;
    }

    .certification-content .certification-imgbox:hover img {
        transform: none;
    }

    .certification-content .certification-imgbox:hover {
        border: none;
    }

    .certification-content .certification-imgbox:hover img {
        transform: scale(1);
    }
}

/* ====================
   MOBILE VERSION
==================== */
@media (max-width:768px) {
    .container {
        width: calc(100vw - 32px);
    }

    .sub-title {
        left: 16px;
    }

    .sub-title>h2 {
        font-size: 1.75rem;
    }

    .sub-title>p {
        font-size: 1rem;
    }

    .sub-gnb-inner li>a {
        font-size: 0.875rem;
        font-weight: 300;
    }

    .main-title {
        padding: 3.75rem 0 2rem;
    }

    .main-title>p {
        font-size: 1.25rem;
    }

    br.pc-br,
    br.t-br {
        display: none;
    }

    br.m-br {
        display: block;
    }

    /* certification */
    .visual-img-icon .sub-img {
        background-image: url(/images/sub-bg-m.png);
    }

    .certification-content>ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .certification-content .certification-imgbox img {
        width: 240px;
    }

    .certification-content>ul>li>p {
        font-size: 0.875rem;
    }

    .certification-content .certification-imgbox {
        height: 413px;
    }

    .certification-content>ul>li>p>br {
        display: none;
    }

    .certification-content .certification-imgbox:hover {
        border: none;
    }

    .certification-content .certification-imgbox:hover img {
        transform: scale(1);
    }
}