@charset "utf-8";
@import url('../reset.css');
@import url('../style.css');

/* ====================
   COMMON SUB-PAGE STYLES
==================== */

main section.sub-01 {
    width: 100%;
    height: 100vh;
}

main section .screen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
}

.visual-img-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.visual-img-icon .sub-img {
    width: 100%;
    height: 100%;
    background: url(/images/sub-bg.png) no-repeat center / cover;
    transform: scale(1.08, 1.08);
    animation: image-zoom-out 6s 0s forwards;
}

.sub-title {
    color: #fff;
    position: absolute;
    bottom: 172px;
    left: 100px;
}

.sub-title>* {
    transform: translateY(30px);
    transition: all 0.8s ease-in-out;
    transition-property: transform, opacity;
}

.sub-title>p {
    font-size: 2rem;
    font-weight: 400;
    transition-delay: 0.2s;
}

.sub-title>h2 {
    font-family: var(--font-eng);
    font-weight: 500;
    transition-delay: 0.5s;
    margin-top: 12px;
}

/* sub-gnb */
.sub-gnb {
    width: 100%;
    height: 72px;
    z-index: 3;
    position: absolute;
    bottom: 0;
}

.sub-gnb-inner {
    width: 100%;
    height: 72px;
    border-top: 2px solid #9499A5;
    background: transparent;
    transition: all 0.4s ease-in-out;
}

.sub-gnb-inner ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.sub-gnb-inner ul>li {
    width: 25%;
}

.sub-gnb-inner li>a:hover,
.sub-gnb-inner li.on>a {
    color: #fff;
}

.sub-gnb-inner li>a:hover:before,
.sub-gnb-inner li.on>a:before {
    width: 100%;
    margin-left: -50%;
}

.sub-gnb-inner li>a:before {
    content: "";
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    top: -2px;
    left: 50%;
    transition: all 0.4s ease-in-out;
}

.sub-gnb-inner li>a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 72px;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #9499A5;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.main-title {
    padding: 6.25rem 0;
}

.main-title>p {
    font-size: 3.125rem;
    font-weight: 500;
    color: #000;
    text-align: center;
}

.main-title span {
    color: var(--secondary-color);
}

br.pc-br {
    display: block;
}

br.t-br,
br.m-br {
    display: none;
}

.flex-box {
    display: flex;
    align-items: center;
}

/* ====================
   HISTORY SPECIFIC STYLES
==================== */

.history .sub-02 {
    width: 100%;
    height: 100%;
}

.history-bg {
    width: 100%;
    height: 420px;
    background: url(/images/sub-history.png) no-repeat center / cover;
}

.history-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 2rem 0 18rem;
}

.history-content-div {
    display: flex;
}

.typo-num-div:not(.front-number) {
    display: flex;
}

.typo-num-div.front-number {
    display: none;
}

.typo-num-div:not(.front-number),
.number-sticky {
    position: sticky;
    top: 40%;
    transition: position 1s;
    font-size: 6.25rem;
    font-weight: 700;
    font-family: var(--font-number);
    color: #9499a5;
    margin-bottom: auto;
}

.typo-num-div .split-text-char {
    font-family: var(--font-number);
}

.year-history .typo-num-div:not(.front-number) {
    width: 8.125rem;
    color: #000;
}

.year-history {
    display: flex;
    gap: 300px;
}

.history-list {
    position: relative;
}

.history-list::before {
    content: "";
    width: 1px;
    height: calc(100% - 14rem);
    background-color: #000;
    position: absolute;
    top: 90px;
    left: 363px;
}

.history-year-list .company-detail:first-child {
    margin-top: 4rem;
}

.history-year-list .company-detail {
    margin-bottom: 3.75rem;
}

.history-year-list .company-detail ul {
    margin-left: 20px;
}

.history-year-list .company-with {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    position: relative;
    color: var(--primary-color02);
}

.company-detail.active .company-with::before {
    background-color: var(--secondary-color);
}

.history-year-list .company-with::before {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transition: var(--transition-custom);
    background-color: #9499A5;
    position: absolute;
    top: 50%;
    left: -73px;
    transform: translateY(-50%);
}

.history-year-list ul li {
    position: relative;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.24px;
    margin-bottom: 0.75rem;
}

.history-year-list ul li::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -15px;
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 50%;
}

.history-year-list .company-detail:last-child {
    margin-bottom: 100px;
}

/* ====================
   TABLET VERSION
==================== */
@media (min-width:769px) and (max-width:1024px) {
    .container {
        width: calc(100vw - 40px);
    }

    .main-title {
        padding: 6.25rem 0 5rem 0;
    }

    .main-title>p {
        font-size: 2rem;
    }

    .sub-title {
        left: 20px;
    }

    .sub-title>h2 {
        font-size: 3.75rem;
    }

    br.t-br {
        display: block;
    }

    br.pc-br,
    br.m-br {
        display: none;
    }

    .visual-img-icon .sub-img {
        background-image: url(/images/sub-bg-t.png);
    }

    .history-bg {
        width: calc(100% - 40px);
        margin: 0 auto;
    }

    .year-history .typo-num-div {
        width: inherit !important;
    }

    .history-content-div>.number-sticky {
        display: none;
    }

    .history-year-list .company-with {
        font-size: 2rem;
    }

    .history-year-list ul li {
        font-size: 1.125rem;
    }

    .typo-num-div.front-number {
        display: flex;
    }

    .number-sticky {
        display: flex;
        justify-content: center;
        color: #9499A5;
        position: relative;
        top: 20%;
    }

    .year-history .typo-num-div:not(.front-number) {
        color: #9499A5;
    }

    .history .year-history {
        flex-direction: column;
        gap: 0;
    }

    .history-list::before {
        top: 240px;
        left: -67px;
        height: calc(100% - 23rem);
    }
}

/* ====================
   MOBILE VERSION
==================== */
@media (max-width:768px) {
    .container {
        width: calc(100vw - 32px);
    }

    .sub-title {
        left: 16px;
    }

    .sub-title>h2 {
        font-size: 1.75rem;
    }

    .sub-title>p {
        font-size: 1rem;
    }

    .sub-gnb-inner li>a {
        font-size: 0.875rem;
        font-weight: 300;
    }

    .main-title {
        padding: 3.75rem 0 2rem;
    }

    .main-title>p {
        font-size: 1.25rem;
    }

    br.pc-br,
    br.t-br {
        display: none;
    }

    br.m-br {
        display: block;
    }

    /* history */
    .history-content {
        margin: 2.5rem 0 0;
    }

    .visual-img-icon .sub-img {
        background-image: url(/images/sub-bg-m.png);
    }

    .history-bg {
        width: calc(100% - 32px);
        height: 146px;
        margin: 0 auto;
    }

    .history-year-list ul li::before {
        top: 10px;
    }

    .history-year-list .company-with::before {
        left: -20px;
    }

    .history-content-div>.number-sticky {
        display: none;
    }

    .history-year-list {
        margin-left: 36px;
    }

    .history-year-list .company-with {
        font-size: 1.5rem;
    }

    .history-year-list ul li {
        font-size: 0.875rem;
    }

    .typo-num-div.front-number {
        display: flex;
    }

    .number-sticky {
        display: flex;
        justify-content: center;
        color: #9499A5;
        position: relative;
        top: 20%;
    }

    .year-history .typo-num-div:not(.front-number) {
        width: inherit !important;
        color: #9499A5;
    }

    .typo-num-div:not(.front-number),
    .number-sticky {
        font-size: 3.75rem;
    }

    .history .year-history {
        flex-direction: column;
        gap: 0;
    }

    .history-list::before {
        top: 170px;
        left: 22px;
        height: calc(100% - 18rem);
    }
}