@charset "utf-8";
@import url('../reset.css');
@import url('../style.css');

/* ====================
   COMMON SUB-PAGE STYLES
==================== */

main section.sub-01 {
    width: 100%;
    height: 100vh;
}

main section .screen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
}

.visual-img-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.visual-img-icon .sub-img {
    width: 100%;
    height: 100%;
    background: url(/images/sub-bg.png) no-repeat center / cover;
    transform: scale(1.08, 1.08);
    animation: image-zoom-out 6s 0s forwards;
}

.sub-title {
    color: #fff;
    position: absolute;
    bottom: 172px;
    left: 100px;
}

.sub-title>* {
    transform: translateY(30px);
    transition: all 0.8s ease-in-out;
    transition-property: transform, opacity;
}

.sub-title>p {
    font-size: 2rem;
    font-weight: 400;
    transition-delay: 0.2s;
}

.sub-title>h2 {
    font-family: var(--font-eng);
    font-weight: 500;
    transition-delay: 0.5s;
    margin-top: 12px;
}

/* sub-gnb */
.sub-gnb {
    width: 100%;
    height: 72px;
    z-index: 3;
    position: absolute;
    bottom: 0;
}

.sub-gnb-inner {
    width: 100%;
    height: 72px;
    border-top: 2px solid #9499A5;
    background: transparent;
    transition: all 0.4s ease-in-out;
}

.sub-gnb-inner ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.sub-gnb-inner ul>li {
    width: 25%;
}

.sub-gnb-inner li>a:hover,
.sub-gnb-inner li.on>a {
    color: #fff;
}

.sub-gnb-inner li>a:hover:before,
.sub-gnb-inner li.on>a:before {
    width: 100%;
    margin-left: -50%;
}

.sub-gnb-inner li>a:before {
    content: "";
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    top: -2px;
    left: 50%;
    transition: all 0.4s ease-in-out;
}

.sub-gnb-inner li>a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 72px;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #9499A5;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.main-title {
    padding: 6.25rem 0;
}

.main-title>p {
    font-size: 3.125rem;
    font-weight: 500;
    color: #000;
    text-align: center;
}

.main-title span {
    color: var(--secondary-color);
}

br.pc-br {
    display: block;
}

br.t-br,
br.m-br {
    display: none;
}

/* ====================
   LOCATION SPECIFIC STYLES
==================== */

.location .sub-02 {
    padding-bottom: 100px;
}

.map-top {
    display: flex;
    justify-content: space-between;
}

.map-top .map-address {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 19px;
}

.map-top .map-address>p {
    font-size: 2rem;
    font-weight: 400;
}

.map-top .map-direction {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.24px;
    padding-left: 40px;
}

.map-top .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.map-top .right>a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 9px 28px;
    border: 1px solid #000;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.24px;
}

.map {
    width: 100%;
    height: 600px;
    margin: 2rem 0;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.contact-list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.contact-list .item {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 9px;
    position: relative;
    padding-top: 60px;
}

.contact-list .item:last-child {
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.contact-list .item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    transition: width 0.25s;
}

.contact-list .item .mail-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.contact-list .item p {
    font-size: 2rem;
    font-weight: 400;
}

/* ====================
   TABLET VERSION
==================== */
@media (min-width:769px) and (max-width:1024px) {
    .container {
        width: calc(100vw - 40px);
    }

    .main-title {
        padding: 6.25rem 0 5rem 0;
    }

    .main-title>p {
        font-size: 2rem;
    }

    .sub-title {
        left: 20px;
    }

    .sub-title>h2 {
        font-size: 3.75rem;
    }

    br.t-br {
        display: block;
    }

    br.pc-br,
    br.m-br {
        display: none;
    }

    .visual-img-icon .sub-img {
        background-image: url(/images/sub-bg-t.png);
    }

    /* location tablet */
    .map-top {
        flex-direction: column;
    }

    .map-top .right {
        flex-direction: row;
        gap: 15px;
        width: 100%;
        margin-top: 40px;
    }

    .map-top .right>a {
        width: 50%;
    }

    .contact-list {
        align-items: flex-start;
    }

    .contact-list .item {
        padding-top: 40px;
    }

    .contact-list .item:last-child {
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }

    .contact-list .item p {
        font-size: 1rem;
        font-weight: 300;
    }

    .contact-list .item .mail-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }

    .map {
        margin-top: 3.75rem;
    }

    .map-top .map-address>p {
        font-size: 1.8rem;
    }
}

/* ====================
   MOBILE VERSION
==================== */
@media (max-width:768px) {
    .container {
        width: calc(100vw - 32px);
    }

    .sub-title {
        left: 16px;
    }

    .sub-title>h2 {
        font-size: 1.75rem;
    }

    .sub-title>p {
        font-size: 1rem;
    }

    .sub-gnb-inner li>a {
        font-size: 0.875rem;
        font-weight: 300;
    }

    .main-title {
        padding: 3.75rem 0 2rem;
    }

    .main-title>p {
        font-size: 1.25rem;
    }

    br.pc-br,
    br.t-br {
        display: none;
    }

    br.m-br {
        display: block;
    }

    /* location mobile */
    .visual-img-icon .sub-img {
        background-image: url(/images/sub-bg-m.png);
    }

    .map-top {
        flex-direction: column;
    }

    .map-top .right {
        flex-direction: row;
        gap: 12px;
        width: 100%;
        margin-top: 20px;
    }

    .map-top .right>a {
        width: 50%;
        letter-spacing: 0;
    }

    .map-top .right>a>img {
        width: auto;
        height: 24px;
    }

    .contact-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        position: relative;
    }

    .contact-list .item {
        padding-top: 20px;
    }

    .contact-list .item svg {
        width: 24px;
        height: 24px;
    }

    .contact-list:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #000;
    }

    .contact-list .item:before {
        display: none;
    }

    .contact-list .item:last-child {
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }

    .contact-list .item p {
        font-size: 1rem;
        font-weight: 300;
    }

    .contact-list .item .mail-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }

    .map {
        margin: 1.25rem 0;
        height: auto;
    }

    .map-top .map-address {
        align-items: flex-start;
    }

    .map-top .map-address>p {
        font-size: 1rem;
        font-weight: 300
    }

    .map-top .map-direction {
        font-size: 0.875rem;
        padding-left: 0;
    }

    .map-top .right>a {
        font-size: 1rem;
    }

    .location .sub-02 {
        padding-bottom: 60px;
    }
}